.icon-youtube, .icon-fb, .icon-insta, .icon-mail, .icon-vk{
	background: url('../img/sprites.png') no-repeat;
}

.icon-youtube{
	background-position: 0 -148px ;
	width: 51px;
	height: 51px;
}

.icon-fb{
	background-position: 0 -99px ;
	width: 51px;
	height: 51px;
}

.icon-insta{
	background-position: -1.9999961853027344px -50px ;
	width: 51px;
	height: 51px;
}

.icon-mail{
	background-position: 0 -197px ;
	width: 51px;
	height: 51px;
}

.icon-vk{
	background-position: 0 0;
	width: 51px;
	height: 51px;
}

